/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

html{
/*    new property*/
    scroll-behavior: smooth; 
}

body{
    font-family: 'Roboto Condensed',sans-serif;
}

.pull-left{
    float: left;
}

.pull-right{
    float: right;
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left:0;
}

.fixed{
    position: fixed;
}

.top-pad1{
    padding: 1rem 0;
}

.top-pad2{
    padding: 2rem 0;
}

.top-pad3{
    padding: 3rem 0;
}

.relative{
    position: relative;
}

.parallelx{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.home-cover{
    background-image: url("/app/assets/images/bg-home.jpg");
    height: 100%;
}

.container{
    width: 59.905%;
    margin: 0 auto;
}

@media(max-width:1550px){

.container{
        width: 80%;
        padding: 0
}
    }

@media(max-width:500px){

.container{
        width: 85%;
        margin: 0 auto;
        padding: 0
}
    }

.section-title{
    text-align: center;
    display: block;
    font-size: 2rem;
    font-weight: 600;
    color: #41464B;
}

.section-title::after{
    content: "";
    width: 2rem;
    height: 3px;
    margin: 0 auto;
    position: absolute;
    left: 49%;
/*    margin: 0 auto 0 auto;*/
    background-color:#34C6D3;
}

@media(max-width:500px){

.section-title::after{
        left: 46%
}
    }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: #34C6D3;   
}

.default-btn{
    color: #34C6D3;
    border:1px solid #34C6D3;
    text-align:center;
    display: inline-block;
    cursor: pointer;
}

.default-btn span{
        vertical-align: middle;
        text-align: center;
        padding: 0.8rem 1.5rem;
        display: inline-block;
    }

.default-btn-invert{
    background: #34C6D3;
    color: #fff;
    text-align:center;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 0.1rem 1.5rem;
}

.default-btn-invert:hover{
    color: #34C6D3;
    background: #fff;
    border:1px solid #34C6D3;
}

.default-label{
    color: #fff;
    background: #34C6D3;
    display: inline-block;
    padding: 0.3rem 1rem;
}

.default-label-invert{
    color: #34C6D3;
    background: #fff;
    display: inline-block;
    padding: 0.3rem 1rem;
}

.parallalx{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
}

.default-btn:hover{
    color: #fff;
    background: #34C6D3;
}

#navbar{
    z-index: 99999;
    position: fixed;
    transition: all 0.5s ease-in-out;
}

@media(max-width:1550px){

#navbar{
        width:95%
}
    }

#navbar .wrapper{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 5fr 6fr;
        padding: 0 2rem;
    }

#navbar .wrapper .content{
            content: ' ';
        }

@media(max-width:1550px){

#navbar .wrapper{
            display: flex;
            justify-content: space-between;
            width: 100%
    }
    }

#navbar .wrapper .logo{
            display: inline-block;
            font-size: 2rem;
            padding:1rem 0;
        }

#navbar .wrapper .logo a{
                color: #fff;
                text-decoration: none;
            }

#navbar .wrapper .navigation{
            display: inline-block;
        }

#navbar .wrapper .navigation ul{
                display: inline-block;
            }

#navbar .wrapper .navigation ul li{
                    display: inline-block;
                    padding: 0.8rem;
                }

#navbar .wrapper .navigation ul li a{
                        color: #fff;
                        font-weight: 600;
                        letter-spacing: 0.1rem;
                        text-decoration: none;
                    }

#navbar .wrapper .navigation ul li:hover a{
                    color:#34C6D3;
                }

@media(max-width:500px){

#navbar .wrapper .navigation{
                display: none
        }
    }

.cover{
        background-image: url('bg-home.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
}

.cover #home{
        padding: 2.5rem 0;
        height: 100%;
    }

.cover #home .wrapper{
            height:92vh;
        }

.cover #home .wrapper .overlay{
                display: flex;
                height:100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

.cover #home .wrapper .overlay p{
                    font-size: 3.5rem;
                    font-weight: 600;
                    margin: 0;
                    color: #fff;
                }

@media(max-width:500px){

.cover #home .wrapper .overlay p{
                        font-size: 2rem
                }
    }

.cover #home .wrapper .overlay .btn{
                    border: 2px solid #fff;
                    padding: 1rem;
                    margin-top: 2rem;
                    cursor: pointer;
                }

.cover #home .wrapper .overlay .btn a{
                        text-decoration: none;
                        color: #fff;
                    }

@media(max-width:500px){

.cover #home .wrapper .overlay .btn{
                        padding: 0.5rem 1rem
                }
    }

.cover #home .wrapper .overlay .btn:hover{
                    background-color: #fff;
                }

.cover #home .wrapper .overlay .btn:hover a{
                    color: #000;   
                }

#service{
    z-index: -1;
    padding: 3rem 0;
}

#service .container{
        position: relative;
    }

#service .container .service-wrapper{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            padding: 1.5rem 0;
        }

@media(max-width:500px){

#service .container .service-wrapper{
                display: flex;
                flex-direction: column;
                padding: 1.5 0
        }
    }

#service .container .service-wrapper .service-item{
                margin: 0 2rem;
                padding: 2rem 0;
                cursor: pointer;
            }

@media(max-width:500px){

#service .container .service-wrapper .service-item{
                    width: 100%
            }
    }

#service .container .service-wrapper .service-item .service-icon{
                    float: left;
                    color: #34C6D3;
                    font-size: 2.5rem;
                    box-sizing: border-box;
                    padding: 1rem;
                    width: 5.5rem;
                    height: 5rem;
                    text-align: center;
                }

#service .container .service-wrapper .service-item .service-title,#service .container .service-wrapper .service-item .service-desc{
                    margin-left: 7rem;
                }

#service .container .service-wrapper .service-item .service-title{
                    color: #41464B;
                    font-size: 1.2rem;
                    font-weight: 500;
                    padding-bottom: 0.5rem;
                }

#service .container .service-wrapper .service-item .service-desc{
                    color: #999;
                }

#service .container .service-wrapper .service-item:hover .service-icon{
                color: #fff;
                background: #34C6D3;
            }

#about .wrapper{
        padding: 2.5rem 0;
        height: 700px;
    }

#about .wrapper *{
            text-align: center;
            vertical-align: middle;
        }

#about .wrapper .left{
            width: 33.33333%;
            text-align: center;
        }

@media(max-width:500px){

#about .wrapper .left{
                display: block;
                width: 100%;
                padding: 2rem 0
        }
    }

#about .wrapper .left *{
                padding-top: 0.5rem;
            }

#about .wrapper .left .section-title::after{
                content: "";
                width: 2rem;
                height: 3px;
                margin: 0 auto;
                left: 29%;
                background-color:#34C6D3;
            }

@media(max-width:500px){

#about .wrapper .left .section-title::after{
                    left: 48%
            }
    }

#about .wrapper .left .description p{
                    word-spacing: 1px;
                    line-height: 24px;
                    color: #aaa;
                    text-align: left;
                }

@media(max-width:500px){
    }

#about .right{
        float: right;
        width: 50%;
        background-image: url("bg-about.jpg");
        border-top:700px solid transparent;        
        border-left:200px solid #fff;
    }

@media(max-width:500px){

#about .right{
            display: block;
            width: 100%;
            border-top: 100%;
            border-left:700px solid #fff
    }
    }

@media(max-width:500px){

#about .right::after{
            content: ' ';
            clear: both
    }
    }

@media(max-width:500px){

#work{
        margin-top: 10rem
}
    }

#work .wrap{
        padding: 3rem 0;
    }

#work .wrap .row{
            padding-top: 2rem;
            display:grid;
            grid-template-columns: repeat(4,1fr);
        }

@media(max-width:500px){

#work .wrap .row{
                grid-template-columns: repeat(2,1fr)
        }
    }

#work .wrap .row div{
                overflow: hidden;
            }

#work .wrap .row div img{
                    width: 100%;
                }

#work .wrap .row div:hover img{
                cursor: pointer;
                transform: scale(1.6);
                transition: 0.4s;
            }

#team{
    padding: 3rem 0;
}

#team .row{
        padding-bottom: 2rem;
        padding: 2rem 0;
    }

@media(max-width:500px){

#team .row{
            grid-template-columns: repeat(1,1fr)
    }
    }

#team .row .member{
            text-align: center;
            display: block !important;
            padding-bottom: 2rem;
        }

#team .row .member *{
                padding: 0.5rem 0;
            }

#team .row .member .profile-pic img{
                    width: 100%;
                }

#team .row .member .mem-name{
                color: #41464B;
                font-weight: 600;
                font-size: 1.5rem;
            }

#team .row .member .mem-position{
                font-style: italic;
                color: #999;
                font-weight: 600;
            }

#team .row .member .social-accounts i{
                    color: #777;
                    padding:0 0.8rem;
                }

#testimonial{
    background-image: url("bg-testimonials.jpg");
}

#testimonial .container{
        padding: 3rem 0;
    }

#testimonial .container .section-title{
            color: #fff;
        }

#testimonial .container .wrapper{
            color: #fff;
            padding: 2.5rem 0;
            padding-bottom: 5rem;
            text-align: center;
        }

#testimonial .container .wrapper >*{
                padding: 1rem;
            }

#testimonial .container .wrapper .section-title p{
                    color: #fff;
                }

#testimonial .container .wrapper .profile-pic{
                width:10%;
                display: inline-block;
            }

#testimonial .container .wrapper .profile-pic img{
                    border-radius: 50%;
                    width: 100%;
                }

@media(max-width:500px){

#testimonial .container .wrapper .profile-pic{
                    width: 25%;    
                    padding-top: 4rem
            }
    }

#testimonial .container .wrapper .review{
                font-family: Georgia, Times, serif;
                font-style: italic;
                width: 80%;
                margin: 0 auto;
            }

#testimonial .container .wrapper .review::before,#testimonial .container .wrapper .review::after{
                position: absolute;
            }

#testimonial .container .wrapper .review::before{
                content: "\201C";
                font-size: 5rem;
                top: -1rem;
                left: -1rem;
            }

#testimonial .container .wrapper .review::after{
                content: "\201D";
                font-size: 5rem;
                top: 2rem;
                right: -1rem;
            }

@media(max-width:500px){

#testimonial .container .wrapper .review::after{
                    width: 25%;    
                    margin-top: 6rem;
                    right: -2rem
            }
    }

#testimonial .container .wrapper .name{
                font-weight: 600;
            }

#testimonial .container .wrapper .position{
                font-weight: 300;
                padding: 0.2rem 0;
            }

#pricing .wrapper{
        padding: 3rem 0;
    }

#pricing .wrapper .row{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2rem 0;
        }

@media(max-width:500px){

#pricing .wrapper .row{
                display: flex;
                flex-direction: column
        }
    }

#pricing .wrapper .row >*{
                padding: 3rem 0;
                display: inline-block;
                text-align: center;
                width: 33.33333333%;
            }

@media(max-width:500px){

#pricing .wrapper .row >*{
                    width: 100%;
                    margin: 2rem 0
            }
    }

#pricing .wrapper .row >* .amount{
                    padding-top: 2rem;
                    color: #41464B;
                    font-weight: 600;
                    font-size: 4rem;
                }

#pricing .wrapper .row >* .amount sup{
                        font-weight: 400;
                        font-size: 2rem;
                        vertical-align: super;
                    }

#pricing .wrapper .row .card{
                height: 20rem;
                display: inline-block;
                margin: 0 1.5rem;
                border:3px solid #34C6D3;
                padding: 5rem 0;
            }

#pricing .wrapper .row .card >*{
                    text-align: center;
                }

#pricing .wrapper .row .card .default-label{
                    font-weight: 600;
                }

#pricing .wrapper .row .card .default-btn{
                    padding: 0 1.5rem;
                }

#pricing .wrapper .row .card .features{
                    padding-bottom: 2rem;
                }

#pricing .wrapper .row .card-invert{
                display: inline-block;
                height: 30rem;
                background: #34C6D3;
            }

#pricing .wrapper .row .card-invert .default-label-invert{
                    font-weight: 600;
                }

#pricing .wrapper .row .card-invert .card-wrap{
                    padding: 5rem 0;
                }

#pricing .wrapper .row .card-invert .card-wrap .features{
                        color: #fff;
                        padding-bottom: 2rem;
                    }

#stats{
    background-image: url("bg-stats.jpg");
}

#stats >*{
        background: rgba(0,0,0,0.7);
    }

#stats >* .wrap{
            color: #fff;
            padding: 3rem 0;
        }

#stats >* .wrap .section-title{
                color: #fff;
            }

#stats >* .wrap .row{
                padding: 4rem 0;
            }

#stats >* .wrap .row .cards{
                    padding: 2rem 0;
                    width: 22%;
                    text-align: center;
                    display: inline-block;
                }

#stats >* .wrap .row .cards i{
                        font-size: 4rem;
                        color: #34C6D3;
                        padding: 1rem;
                    }

#stats >* .wrap .row .cards div *{
                            font-weight: 600;
                            display: inline-block;
                            font-size: 2rem;
                        }

#stats >* .wrap .row .cards p{
                        margin: 0.5rem;
                    }

@media(max-width:500px){

#stats >* .wrap .row .cards{
                        width: 100%
                }
    }

#clients .wrap{
        padding: 3rem 0;
    }

#clients .wrap .row{
            justify-content: space-between;
            padding: 4rem 0;
        }

#clients .wrap .row img{
                width: 100%;
            }

@media(max-width:500px){

#clients .wrap .row{
                display: flex;
                flex-direction: column
        }
    }

#clients .wrap .row #client-list{
                padding: 2rem 0;
            }

#contact{
    background: #41464B;
    color: #fff;
    padding: 2.5rem 0;
}

#contact .wrapper{
        padding: 4rem 0;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        font-weight: 300;
    }

@media(max-width:500px){

#contact .wrapper{
            display: flex;
            flex-direction: column
    }
    }

#contact .wrapper >*{
            display: inline-block;
        }

#contact .wrapper .big-fonts{
            font-size: 1.7rem;
            font-weight: 600;
            letter-spacing: 0rem !important;
        }

#contact .wrapper .get-info >*{
                padding: 0.5rem 0;
                line-height: 1.5rem;
                letter-spacing: 0.1rem;
            }

#contact .wrapper .get-info .image-bg{
                background-image: url("world-map.png");
                background-size: contain;
                background-repeat: no-repeat; 
            }

#contact .wrapper .get-info .image-bg .address p{
                        margin: 0;
                    }

#contact .wrapper .get-info .social i{
                    padding: 0 0.5rem;
                }

#contact .wrapper .send-info .inputes >*{
                    margin: 1rem 0;
                    padding: 0.5rem;
                    background: transparent;
                }

#contact .wrapper .send-info .inputes >*:focus{
                    border: #66afe9;
/*                    outline: 0;*/
                }

#contact .wrapper .send-info .inputes input{
                    background: transparent;
                    display: block;
                    width: 100%;
                    border: 1px solid #fff;
                }

@media(max-width:500px){

#contact .wrapper .send-info .inputes input{
                        width: 95%
                }
    }

#contact .wrapper .send-info .inputes textarea{
                    display: block;
                    border: 1px solid #fff;
                    width: 100%;
                }

@media(max-width:500px){

#contact .wrapper .send-info .inputes textarea{
                        width: 95%
                }
    }

#contact .wrapper .send-info .btn{
                font-weight: 400;
                font-size: 1rem;
                border: 2px solid #fff;
                padding: 0.9rem 1.8rem;
                display: inline-block;
            }

#contact .wrapper .send-info .btn:hover{
                background: #fff;
                color: #41464B;
                cursor: pointer;
            }

@media(max-width:500px){

#contact .wrapper .send-info{
                padding: 2rem 0
        }
    }

#footer{
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 2.5rem 0;
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.1rem;
}

#footer .wrap{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

@media(max-width:500px){

#footer .wrap{
            display: block;
            font-size: 0.95rem
    }
    }

#footer .wrap .row li{
                font-size: 0.8rem;
                list-style-type: none;
                display: inline-block;
                text-transform: capitalize;
            }

#footer .wrap .row li a{
                    color: #fff;
                    text-decoration: none;
                }

#footer .wrap .row li a:hover{
                    color: #34C6D3;
                }

@media(max-width:500px){

#footer .wrap .row{
                display: none
        }
    }

#scrollUp{
    bottom:30px;
    right:30px;
    padding: 1rem;
    color:#34C6D3 !important;
    cursor: pointer;
    border: 2px solid #34C6D3;
    display:none;
}

#scrollUp:hover{
    bottom:40px;
    transition: all 0.4s;
}