html{
/*    new property*/
    scroll-behavior: smooth; 
}
body{
    font-family: 'Roboto Condensed',sans-serif;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.sticky{
    position: sticky;
    top: 0;
    left:0;
}
.fixed{
    position: fixed;
}
.top-pad1{
    padding: 1rem 0;
}
.top-pad2{
    padding: 2rem 0;
}
.top-pad3{
    padding: 3rem 0;
}
.relative{
    position: relative;
}
.parallelx{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.home-cover{
    background-image: url("/app/assets/images/bg-home.jpg");
    height: 100%;
}
.container{
    width: 59.905%;
    margin: 0 auto;
    @mixin atMedium{
        width: 80%;
        padding: 0;
    }
    @mixin atSmall{
        width: 85%;
        margin: 0 auto;
        padding: 0;
    }
}
.section-title{
    text-align: center;
    display: block;
    font-size: 2rem;
    font-weight: 600;
    color: #41464B;
}
.section-title::after{
    content: "";
    width: 2rem;
    height: 3px;
    margin: 0 auto;
    position: absolute;
    left: 49%;
/*    margin: 0 auto 0 auto;*/
    background-color:$primary-color;
    @mixin atSmall{
        left: 46%;            
    }
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: #34C6D3;   
}
.default-btn{
    color: $primary-color;
    border:1px solid $primary-color;
    text-align:center;
    display: inline-block;
    cursor: pointer;
    span{
        vertical-align: middle;
        text-align: center;
        padding: 0.8rem 1.5rem;
        display: inline-block;
    }
}
.default-btn-invert{
    background: $primary-color;
    color: #fff;
    text-align:center;
    display: inline-block;
    cursor: pointer;
    border: 1px solid #fff;
    padding: 0.1rem 1.5rem;
}
.default-btn-invert:hover{
    color: $primary-color;
    background: #fff;
    border:1px solid $primary-color;
}
.default-label{
    color: #fff;
    background: $primary-color;
    display: inline-block;
    padding: 0.3rem 1rem;
}
.default-label-invert{
    color: $primary-color;
    background: #fff;
    display: inline-block;
    padding: 0.3rem 1rem;
}
.parallalx{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
}
.default-btn:hover{
    color: #fff;
    background: $primary-color;
}