#about{
    .wrapper{
        padding: 2.5rem 0;
        height: 700px;
        *{
            text-align: center;
            vertical-align: middle;
        }
        .left{
            width: 33.33333%;
            text-align: center;
            @mixin atSmall{
                display: block;
                width: 100%;
                padding: 2rem 0;
            }
            *{
                padding-top: 0.5rem;
            }
            .section-title::after{
                content: "";
                width: 2rem;
                height: 3px;
                margin: 0 auto;
                left: 29%;
                background-color:$primary-color;
                @mixin atSmall{
                    left: 48%;
                }
            }
            .description {
                p{
                    word-spacing: 1px;
                    line-height: 24px;
                    color: #aaa;
                    text-align: left;
                }
            }    
            @mixin atSmall{
                
            }
        }
    }
     .right{
        float: right;
        width: 50%;
        background-image: url("bg-about.jpg");
        border-top:700px solid transparent;        
        border-left:200px solid #fff;
        @mixin atSmall{
            display: block;
            width: 100%;
            border-top: 100%;
            border-left:700px solid #fff;
        }
    }
    .right::after{
        @mixin atSmall{
            content: ' ';
            clear: both;            
        }
    }    
}