#clients{
    .wrap{
        padding: 3rem 0;
        .row{
            justify-content: space-between;
            padding: 4rem 0;
            img{
                width: 100%;
            }
            @mixin atSmall{
                display: flex;
                flex-direction: column;
            }
            #client-list{
                padding: 2rem 0;
            }
        }
    }
}