    #contact{
    background: #41464B;
    color: #fff;
    padding: 2.5rem 0;
    .wrapper{
        padding: 4rem 0;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        font-weight: 300;
        @mixin atSmall{
            display: flex;
            flex-direction: column;
        }
        >*{
            display: inline-block;
        }
        .big-fonts{
            font-size: 1.7rem;
            font-weight: 600;
            letter-spacing: 0rem !important;
        }
        .get-info{
            >*{
                padding: 0.5rem 0;
                line-height: 1.5rem;
                letter-spacing: 0.1rem;
            }
            .image-bg{
                background-image: url("world-map.png");
                background-size: contain;
                background-repeat: no-repeat;
                .address{
                    p{
                        margin: 0;
                    }
                } 
            }
            .social{
                i{
                    padding: 0 0.5rem;
                }
            }
        }
        .send-info{
            .inputes{
                >*{
                    margin: 1rem 0;
                    padding: 0.5rem;
                    background: transparent;
                }
                >*:focus{
                    border: #66afe9;
/*                    outline: 0;*/
                }
                input{
                    background: transparent;
                    display: block;
                    width: 100%;
                    border: 1px solid #fff;
                    @mixin atSmall{
                        width: 95%;  
                    }
                }
                textarea{
                    display: block;
                    border: 1px solid #fff;
                    width: 100%;
                    @mixin atSmall{
                        width: 95%;  
                    }
                }
            }
            .btn{
                font-weight: 400;
                font-size: 1rem;
                border: 2px solid #fff;
                padding: 0.9rem 1.8rem;
                display: inline-block;
            }
            .btn:hover{
                background: #fff;
                color: #41464B;
                cursor: pointer;
            }
            @mixin atSmall{
                padding: 2rem 0;
            }
        }
    }
}















