#footer{
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 2.5rem 0;
    color: #fff;
    font-weight: 300;
    letter-spacing: 0.1rem;
    .wrap{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        @mixin atSmall{
            display: block;
            font-size: 0.95rem;
        }
        .row{
            li{
                font-size: 0.8rem;
                list-style-type: none;
                display: inline-block;
                text-transform: capitalize;
                a{
                    color: #fff;
                    text-decoration: none;
                }
                a:hover{
                    color: #34C6D3;
                }
            }
            @mixin atSmall{
                display: none;
            }
        }
    }
}























