#navbar{
    z-index: 99999;
    position: fixed;
    transition: all 0.5s ease-in-out;
    @mixin atMedium{
        width:95%;
    }
    .wrapper{
        .content{
            content: ' ';
        }
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 5fr 6fr;
        padding: 0 2rem;
        @mixin atMedium{
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
        .logo{
            display: inline-block;
            font-size: 2rem;
            padding:1rem 0;
            a{
                color: #fff;
                text-decoration: none;
            }
        }
        .navigation{
            display: inline-block;
            ul{
                display: inline-block;
                li{
                    display: inline-block;
                    padding: 0.8rem;
                    a{
                        color: #fff;
                        font-weight: 600;
                        letter-spacing: 0.1rem;
                        text-decoration: none;
                    }
                }
                li:hover a{
                    color:#34C6D3;
                }
            }
            @mixin atSmall{
                display: none;
            }
        }
    }
}
