#pricing{
    .wrapper{
        padding: 3rem 0;
        .row{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2rem 0;
            @mixin atSmall{
                display: flex;
                flex-direction: column;
            }
            >*{
                padding: 3rem 0;
                display: inline-block;
                text-align: center;
                width: 33.33333333%;
                @mixin atSmall{
                    width: 100%;
                    margin: 2rem 0;
                }
            }
            >*{
                .amount{
                    padding-top: 2rem;
                    color: $secondary-color;
                    font-weight: 600;
                    font-size: 4rem;
                    sup{
                        font-weight: 400;
                        font-size: 2rem;
                        vertical-align: super;
                    }
                }
            }
            .card{
                height: 20rem;
                display: inline-block;
                margin: 0 1.5rem;
                border:3px solid $primary-color;
                padding: 5rem 0;
                >*{
                    text-align: center;
                }
                .default-label{
                    font-weight: 600;
                }
                .default-btn{
                    padding: 0 1.5rem;
                }
                .features{
                    padding-bottom: 2rem;
                }
            }
            .card-invert{
                display: inline-block;
                height: 30rem;
                background: $primary-color;
                .default-label-invert{
                    font-weight: 600;
                }
                .card-wrap{
                    padding: 5rem 0;
                    .features{
                        color: #fff;
                        padding-bottom: 2rem;
                    }
                }
            }
        }
    }
}