#scrollUp{
    bottom:30px;
    right:30px;
    padding: 1rem;
    color:$primary-color !important;
    cursor: pointer;
    border: 2px solid $primary-color;
    display:none;
}
#scrollUp:hover{
    bottom:40px;
    transition: all 0.4s;
}