#service{
    z-index: -1;
    padding: 3rem 0;
    .container{
        position: relative;
        .service-wrapper{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            padding: 1.5rem 0;
            @mixin atSmall{
                display: flex;
                flex-direction: column;
                padding: 1.5 0;
            }
            .service-item{
                margin: 0 2rem;
                padding: 2rem 0;
                cursor: pointer;
                @mixin atSmall{
                    width: 100%;            
                }
                .service-icon{
                    float: left;
                    color: $primary-color;
                    font-size: 2.5rem;
                    box-sizing: border-box;
                    padding: 1rem;
                    width: 5.5rem;
                    height: 5rem;
                    text-align: center;
                }
                .service-title,.service-desc{
                    margin-left: 7rem;
                }
                .service-title{
                    color: $secondary-color;
                    font-size: 1.2rem;
                    font-weight: 500;
                    padding-bottom: 0.5rem;
                }
                .service-desc{
                    color: #999;
                }
            }
            .service-item:hover .service-icon{
                color: #fff;
                background: $primary-color;
            }
        }
    }
}
































