.cover{
        background-image: url('bg-home.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        #home{
        padding: 2.5rem 0;
        height: 100%;
        .wrapper{
            height:92vh;
            .overlay{
                display: flex;
                height:100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                p{
                    font-size: 3.5rem;
                    font-weight: 600;
                    margin: 0;
                    color: #fff;
                    
                    @mixin atSmall{
                        font-size: 2rem;    
                    }
                }
                .btn{
                    border: 2px solid #fff;
                    padding: 1rem;
                    margin-top: 2rem;
                    cursor: pointer;
                    a{
                        text-decoration: none;
                        color: #fff;
                    }
                    @mixin atSmall{
                        padding: 0.5rem 1rem;    
                    }
                }
                .btn:hover{
                    background-color: #fff;
                }
                .btn:hover a{
                    color: #000;   
                }
            }
        }
    }
}
























