#stats{
    background-image: url("bg-stats.jpg");
    >*{
        background: rgba(0,0,0,0.7);
        .wrap{
            color: #fff;
            padding: 3rem 0;
            .section-title{
                color: #fff;
            }
            .row{
                padding: 4rem 0;
                .cards{
                    padding: 2rem 0;
                    width: 22%;
                    text-align: center;
                    display: inline-block;
                    i{
                        font-size: 4rem;
                        color: $primary-color;
                        padding: 1rem;
                    }
                    div{
                        *{
                            font-weight: 600;
                            display: inline-block;
                            font-size: 2rem;
                        }
                    }
                    p{
                        margin: 0.5rem;
                    }
                    @mixin atSmall{
                        width: 100%;
                    }
                }
            }
        }
    }
}




















