#team{
    padding: 3rem 0;
    .row{
        padding-bottom: 2rem;
        padding: 2rem 0;
        @mixin atSmall{
            grid-template-columns: repeat(1,1fr);        
        }
        .member{
            text-align: center;
            display: block !important;
            padding-bottom: 2rem;
            *{
                padding: 0.5rem 0;
            }
            .profile-pic{
                img{
                    width: 100%;
                }
            }
            .mem-name{
                color: $secondary-color;
                font-weight: 600;
                font-size: 1.5rem;
            }
            .mem-position{
                font-style: italic;
                color: #999;
                font-weight: 600;
            }
            .social-accounts{
                i{
                    color: #777;
                    padding:0 0.8rem;
                }
            }
        }
    }
}