#testimonial{
    background-image: url("bg-testimonials.jpg");
    .container{
        .section-title{
            color: #fff;
        }
        padding: 3rem 0;
        .wrapper{
            color: #fff;
            padding: 2.5rem 0;
            padding-bottom: 5rem;
            text-align: center;
            >*{
                padding: 1rem;
            }
            .section-title{
                p{
                    color: #fff;
                }
            }
            .profile-pic{
                width:10%;
                display: inline-block;
                img{
                    border-radius: 50%;
                    width: 100%;
                }
                @mixin atSmall{
                    width: 25%;    
                    padding-top: 4rem;
                }
            }
            .review{
                font-family: Georgia, Times, serif;
                font-style: italic;
                width: 80%;
                margin: 0 auto;
            }
            .review::before,.review::after{
                position: absolute;
            }
            .review::before{
                content: "\201C";
                font-size: 5rem;
                top: -1rem;
                left: -1rem;
            }
            .review::after{
                content: "\201D";
                font-size: 5rem;
                top: 2rem;
                right: -1rem;
                @mixin atSmall{
                    width: 25%;    
                    margin-top: 6rem;
                    right: -2rem;
                }
            }
            .name{
                font-weight: 600;
            }
            .position{
                font-weight: 300;
                padding: 0.2rem 0;
            }
        }
    }
}