#work{
    @mixin atSmall{
        margin-top: 10rem;   
    }
    .wrap{
        padding: 3rem 0;
        .row{
            padding-top: 2rem;
            display:grid;
            grid-template-columns: repeat(4,1fr);
            @mixin atSmall{
                grid-template-columns: repeat(2,1fr);    
            }
            div{
                img{
                    width: 100%;
                }
                overflow: hidden;
            }
            div:hover img{
                cursor: pointer;
                transform: scale(1.6);
                transition: 0.4s;
            }
        }
    }
}